@import "tailwindcss";

@theme {
    --font-sans:
        Pretendard, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

body {
    @apply font-sans;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
